.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 10000;
}

@media (max-width: 599px) {
  .header {
    padding: 15px 0;
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__nav {
  color: #222222;
}

.header__nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

@media (min-width: 900px) {
  .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav ul li {
  margin: 0 24px;
}

.header__link {
  font-size: 2rem;
}

@media (min-width: 900px) {
  .header__link {
    font-size: inherit;
  }
}

.header__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__social ul li {
  margin: 0 10px;
}

.header__social ul li a span {
  max-width: 20px;
  max-height: 20px;
}

.header__social ul li a span svg {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  fill: #222222;
}

.header__social ul li a span svg:hover {
  fill: #ff7f96;
}

.header__btn {
  margin-left: 40px;
  font-size: 13px;
  line-height: calc(14 / 13 * 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
}

.header__btn a {
  color: #fff;
}

@media (max-width: 599px) {
  .header__btn {
    display: none;
  }
}

body.lock {
  overflow: hidden;
}

.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 1001;
}

@media (min-width: 900px) {
  .header__burger {
    display: none;
  }
}

.header__burger span {
  position: absolute;
  background-color: #000;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.show span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__burger.show:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__burger.show:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  position: fixed;
  top: 0%;
  right: -110%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 5%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  text-align: center;
}

.header__menu ul li {
  margin: 2rem 0;
}

.header__menu.show {
  right: 0%;
}
