@import "vars";
@import "media";

.faq {
    // .faq__wrapper
    margin-bottom: 2rem;
    @include for-desktop-up {
        margin-bottom: 100px;
    }

    &__header {
        margin-bottom: 20px;
        @include for-tablet-landscape-up {
            margin-bottom: 50px;
        }
    }
}
.accordion {
    &__item {
        margin-bottom: 25px;
    }
}

.accordion__btn {
    line-height: calc(24 / 22 * 1);
    color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    padding: 10px;
    @include for-tablet-landscape-up {
        font-size: 22px;
        padding: 23px 30px 29px 25px;
    }
}

.accordion__btn:after {
    @include for-tablet-portrait-up {
        width: 28px;
        height: 17px;
        content: "";
        color: $green;
        background: url("../images/arrow-bottom.png") 0 0 no-repeat;
    }
}

.active:after {
    @include for-tablet-portrait-up {
        width: 28px;
        height: 17px;
        background: url("../images/arrow-bottom.png") 0 0 no-repeat;
        content: "";
        color: $green;
        transform: rotate(180deg);
    }
}

.accordion__panel {
    line-height: calc(24 / 22 * 1);
    color: $black;
    padding: 0 20px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 14px;
    @include for-tablet-portrait-up {
        font-size: 18px;
    }
}
